In [17]:
import pandas as pd
csv_file = 'dataset/train.csv'
df = pd.read_csv(csv_file, nrows=20)
# data.columns

In [44]:
df[['Id','SalePrice','PoolArea','MiscVal',
    'MoSold','YrSold']].sort_values(by=['SalePrice'], ascending=False)

    Id  SalePrice  PoolArea  MiscVal  MoSold  YrSold
11  12     345000         0        0       7    2006
6    7     307000         0        0       8    2007
13  14     279500         0        0       8    2007
4    5     250000         0        0      12    2008
2    3     223500         0        0       9    2008
0    1     208500         0        0       2    2008
7    8     200000         0      350      11    2009
1    2     181500         0        0       5    2007
18  19     159000         0        0       6    2008
14  15     157000         0        0       5    2008
16  17     149000         0      700       3    2010
12  13     144000         0        0       9    2008
5    6     143000         0      700      10    2009
3    4     140000         0        0       2    2006
19  20     139000         0        0       5    2009
15  16     132000         0        0       7    2007
8    9     129900         0        0       4    2008
10  11     129500         0        0       2    2008
9   10     118000         0        0       1    2008
17  18      90000         0      500      10    2006

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

csv_file = '../../dataset/train.csv'
melbourne_data = pd.read_csv(csv_file)

# melbourne_data = melbourne_data.dropna(axis=0)

y = melbourne_data.SalePrice

# melb_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
#                  'YearBuilt', 'Lattitude', 'Longtitude']
features = ['LotArea','YearBuilt', '1stFlrSF', '2ndFlrSF',
            'OverallQual','OverallCond', 'GrLivArea',
            'FullBath','BedroomAbvGr','TotRmsAbvGrd',
            'Fireplaces','WoodDeckSF','YrSold']

X = melbourne_data[features]
# X.head()

train_X, val_X, train_y, val_y = train_test_split(X, y, train_size=0.8,
                                                  test_size=0.2,
                                                  random_state=1)
# melbourne_data[['Id','OverallQual', 'OverallCond','SalePrice']]
# train_y

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
melb_mae = mean_absolute_error(melb_preds, val_y)

print("val MAE for Random Forest: {:,.0f}".format(melb_mae))

NameError: name 'RandomForestRegressor' is not defined

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
melb_mae = mean_absolute_error(melb_preds, val_y)

print("val MAE for Random Forest: {:,.0f}".format(melb_mae))

val MAE for Random Forest: 18,994

In [3]:
# train on all training data
full_data = RandomForestRegressor(random_state=1)
full_data.fit(X,y)

RandomForestRegressor(random_state=1)

In [4]:
test_data = 'dataset/test.csv'
test_data = pd.read_csv(test_data)

test_X = test_data[features]
test_preds = full_data.predict(test_X)
print(test_preds)

[128469.58 157700.   157361.61 ... 155518.   117889.5  231991.15]

In [ ]:
df = pd.DataFrame({'Id': test_data.Id,
                       'SalePrice': test_preds})
df.to_csv('/content/drive/MyDrive/Colab_Notebooks/submission.csv', index=False)

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/submission.csv')
# print('results \n', data.head())
# pd.set_option('display.max_columns', None)
data