In [ ]:
import pandas as pd
csv_file = 'dataset/train.csv'
df = pd.read_csv(csv_file, nrows=20)
# data.columns

In [ ]:
df[['Id','SalePrice','PoolArea','MiscVal',
    'MoSold','YrSold']].sort_values(by=['SalePrice'], ascending=False)

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

csv_file = '../../dataset/train.csv'
melbourne_data = pd.read_csv(csv_file)

# melbourne_data = melbourne_data.dropna(axis=0)

y = melbourne_data.SalePrice

# melb_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
#                  'YearBuilt', 'Lattitude', 'Longtitude']
features = ['LotArea','YearBuilt', '1stFlrSF', '2ndFlrSF',
            'OverallQual','OverallCond', 'GrLivArea',
            'FullBath','BedroomAbvGr','TotRmsAbvGrd',
            'Fireplaces','WoodDeckSF','YrSold']

X = melbourne_data[features]
# X.head()

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
# melbourne_data[['Id','OverallQual', 'OverallCond','SalePrice']]
# train_y

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
melb_mae = mean_absolute_error(melb_preds, val_y)

print("val MAE for Random Forest: {:,.0f}".format(melb_mae))

val MAE for Random Forest: 17,751

In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
melb_mae = mean_absolute_error(melb_preds, val_y)

print("val MAE for Random Forest: {:,.0f}".format(melb_mae))

val MAE for Random Forest: 17,751

In [5]:
# train on all training data
full_data = RandomForestRegressor(random_state=1)
full_data.fit(X,y)

RandomForestRegressor(random_state=1)

In [7]:
test_data = '../../dataset/test.csv'
test_data = pd.read_csv(test_data)

test_X = test_data[features]
test_preds = full_data.predict(test_X)
print(test_preds)

[126474.    160816.35  170457.952 ... 158612.    121863.1   239045.57 ]

In [8]:
df = pd.DataFrame({'Id': test_data.Id,
                       'SalePrice': test_preds})
df.to_csv('../../dataset/submission_begginer.csv', index=False)

In [10]:
data = pd.read_csv('../../dataset/submission_begginer.csv')
# print('results \n', data.head())
# pd.set_option('display.max_columns', None)
data.head()

     Id   SalePrice
0  1461  126474.000
1  1462  160816.350
2  1463  170457.952
3  1464  181273.500
4  1465  195920.680